<div class="bootstrap-wrapper marg">
    <div class="container mt">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <div class="container text-center form">
                    <h1 class="text-center">Forgot Password</h1>
                    <form id="form" (ngSubmit)="forgotPassword()">
                        <mat-form-field appearance="outline" class="full-width">
                            <mat-label>Email</mat-label>
                            <input matInput type="email" placeholder="Enter your email" required="true"
                                [(ngModel)]="user.email" id="email" name="email">
                            <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
                        </mat-form-field>
                        <div class="container text-center">
                            <button type="submit" mat-raised-button color="primary" class="btn">Reset Password</button>
                        </div>
                    </form>
                </div>
                <p class="text-center"> Back To Login Page? <a href="">Login</a></p>
            </div>
        </div>
    </div>
</div>