<div class="bootstrap-wrapper marg">
    <div class="container mt">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <div class="container text-center form">
                    <h1 class="text-center">Reset your Password</h1>
                    <form id="form" (ngSubmit)="ResetPassword()">
                        <mat-form-field class="full-width" appearance="outline">
                            <mat-label>New Password</mat-label>
                            <input matInput [type]="hide ? 'password' : 'text'" placeholder="Enter your password"
                                required="true" [(ngModel)]="user.password" id="password" name="password">
                            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                                [attr.aria-pressed]="hide">
                                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                            </button>
                        </mat-form-field>
                        <mat-form-field class="full-width" appearance="outline">
                            <mat-label>Confirm Password</mat-label>
                            <input matInput [type]="hide ? 'password' : 'text'" placeholder="Enter your password"
                                required="true" [(ngModel)]="user.password" id="password1" name="password1">
                            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                                [attr.aria-pressed]="hide">
                                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                            </button>
                        </mat-form-field>
                        <div class="container text-center">
                            <button type="submit" mat-raised-button color="primary" class="btn">Reset Password</button>
                        </div>
                    </form>
                </div>
                <p class="text-center">Already Registred? <a href=""> Sign in</a></p>
            </div>
        </div>
    </div>
</div>